@page
@model MiniSpaceWiki.Pages.DONKI.FLRModel
@{
    ViewData["Title"] = "FLR";
    ViewBag.NumFLR = 1;
}

<h1>Что представляют собой солнечные вспышки(Solar Flare), "FLR"?</h1>
<p>
    Солнечная вспышка представляет собой взрыв на поверхности Солнца гигантскх размеров, который возникает когда силовые линии магнитного поля выходящие из солнечных пятен переключаются и обрываются, что сопровождается переходными процессами в магнитном поле группы с резким выделением гигантского количества энергии в сравнительно небольшой объем пространства за короткий промежуток времени. Солнечная вспышка определяется как внезапное, быстрое и интенсивное изменение яркости. Солнечная вспышка возникает, когда магнитная энергия, которая возникла в солнечной атмосфере, внезапно высвобождается. Материал нагревается до нескольких миллионов градусов за считанные минуты и излучение практически во всем электромагнитном спектре от радиоволн в длинноволновом участке спектра, через оптическое излучение до рентгеновских и гамма-лучей на коротковолновом конце спектра. Объем выделяемой энергии эквивалентен миллионам ядерных бомб, которые взрываются одновременно! Солнечные вспышки возникают часто в период солнечного максимума. В этот период бывает, что некоторые солнечные вспышки дляться в течении суток! В период солнечного минимума солнечные вспышки происходят реже одного раза в неделю. Большие вспышки реже, чем маленькие. Известно, что некоторые (в основном более сильные) солнечные вспышки вызывают выбросы корональной массы, которые могут привести к геомагнитным бурям, если они направлены в сторону Земли.
</p>
<img class="gif" src="https://gordonua.com/img/article/1300/75_tn.jpg" alt="Solar Flare showed NASA" />
<h3>Классификация солнечных вспышек</h3>
<p>
    Солнечные вспышки классифицируются как A, B, C, M или X в соответствии с пиковым потоком (в Ваттах на квадратный метр, Вт/м2) длинной волны от 1 до 8 Ангстрем в околоземном пространстве, как измеряется прибором XRS на борту спутник GOES-15, который находится на геостационарной орбите над Тихим океаном.
</p>
<p>
    Каждая категория класса делится по логарифмической шкале от 1 до 9. Например: от B1 до B9, от C1 до C9 и т. д. Вспышка X2 в два раза сильнее, чем вспышка X1, и в четыре раза мощнее, чем M5. Класс X немного отличается, не заканчиваясь на X9, он продолжается. Солнечные вспышки X10 и более сильные также называют «солнечными вспышками Super X-класса».
</p>
<h3>Солнечные вспышки A & B-класса</h3>
<p>
    A & B-класс - это самый низкий класс солнечных вспышек. Они очень распространены и не очень интересны. Фоновый поток (уровень излучения при отсутствии вспышек) часто находится в диапазоне В во время максимума Солнца и в диапазоне А во время солнечного минимума.
</p>
<h3>Солнечные вспышки класса С</h3>
<p>
    Солнечные вспышки класса С, это небольшие вспышки, которые практически не оказывают влияния на Землю. Только длительные вспышки С-класса могут привести к выбросу корональной массы но чаще всего они медленны, слабы и редко вызывают на Земле значительные геомагнитные возмущения. Фоновый поток (уровень излучения при отсутствии вспышек) может находиться в начале диапазона С-класса, когда область солнечного пятна находится на обращенном к Земле солнечном диске.
</p>
<h3>Солнечные вспышки M-класса</h3>
<p>
    Солнечные вспышки M-класса, это средние из больших вспышек. Они вызывают от небольшого (R1) до умеренного (R2) уровня радиопомех на дневной стороне Земли. Некоторые вспышки M-класса могут вызвать солнечный радиационный шторм. Сильные, длительные вспышки M-класса, с большой долей вероятности могут привести к выбросу корональной массы. Если вспышка M-класса расположена вблизи центра обращенного к Земле солнечного диска и запускает выброс корональной массы в ее сторону, вероятность того, что результирующая геомагнитная буря будет достаточной силы для наблюдения северного сияния в области средних широт, достаточно высока.
</p>
<h3>Солнечные вспышки X-класса</h3>
<p>
    Солнечные вспышки X-класса являются самыми большими и мощьными. В среднем вспышки X-класса происходят примерно 10 раз в год и чаще встречаются при солнечном максимуме. Во время вспышки X-класса на дневной стороне Земли, уровень радиопомех сильный до экстремального (R3-R5). Если солнечная вспышка происходит вблизи центра обращенного к Земле солнечного диска, это может вызвать сильный и продолжительный шторм солнечной радиации и создать значительный выброс корональной массы который может привести к серьезным (G4) или экстремальным (G5) геомагнитным штормам на Земле.
</p>
<img class="gif" height="300" src="https://img.gazeta.ru/files3/12/10880012/upload-2-28-14_eclipse_0-pic4_zoom-1500x1500-85403.jpg" alt="Solar Flare" />
<p>
    Итак, что выше X9? X-класс продолжается дальше и эти солнечные вспышки часто называются солнечными вспышками Super X-класса. Солнечные вспышки, достигаюие и превосходящие X10 встречаются очень редко, несколько раз в течение солнечного цикла. На самом деле это хорошо, что мощные солнечные вспышки происходят не так часто, так как последствия от них на Земле могут быть очень серьезными. Известно, что выбросы корональной массы, которые сопровождают такие вспышки, приводят к экстремальному геомагнитному шторму (G5) и проблемам с нашими современными технологиями.
</p>
<p>
    Одно замечание, - в отношении вспышек супер X-класса заключается в определении их мощности. Таким образом, солнечная вспышка X20 не в 10 раз сильнее, чем вспышка X10. Солнечная вспышка X10 равна рентгеновскому потоку 0,001 Вт/м2, а солнечная вспышка X20 равна 0,002 Вт/м2 в длине волны 1-8 Ангстрем.
</p>
<p>
    Самая большая солнечная вспышка, когда-либо регистрируемая с тех пор, как спутники начали измерять их в 1976 году, оценивалась как солнечная вспышка X28, которая произошла 4 ноября 2003 года во время 23 солнечного цикла. Длительный канал XRS на спутнике GOES-12 был насыщен в X17 на 12 минут интенсивным излучением. Более поздний анализ доступных данных показывает предполагаемый пиковый поток X28, однако есть ученые считающие, что эта солнечная вспышка была сильнее, чем X28. Для нас было большой удачей, что в момент когда произошла вспышка X28, группа солнечных пятен в которой это случилось, успела сильно отклониться от обращенного к Земле центра солнечного диска, так что ее направление в максимуме прошло мимо Земли. Следует отметить, что солнечной вспышки которая насыщала каналы XRS на GOES-15 по состоянию на март 2017 года, не было, но ожидается, что она будет насыщаться примерно с одинаковым уровнем потока.
</p>

<h3>Выберите диапазон дат, в котором происходили солнечные вспышки:</h3>
<form method="get">
    <label id="start">Начальная дата: <input type="date" name="StartDate" value="@Model.StartDate" /></label> <br />
    <label id="end">Конечная дата: <input type="date" name="EndDate" value="@Model.EndDate" /></label> <br />
    <input type="submit" class="submit" value="Показать" />
</form>
@if (Model.IsInput)
{
    if (Model.list == null)
    {
        <p class="red">В этот период не зафиксировано солнечных вспышок</p>
    }
    else
    {
        <p class="red">В этот период наблюдали @Model.list.Count солнечных вспышок.</p>
        <table class="table" border="1">
            <caption>Table num</caption>
            <tr>
                <th>Number</th>
                <th>Begin Time</th>
                <th>Peak Time</th>
                <th>End Time</th>
                <th>Class Type</th>
                <th>Source Location</th>
                <th>Active Region Num</th>
            </tr>
            @foreach (var flr in Model.list)
            {
                <tr>
                    <td>@ViewBag.NumFLR</td>
                    <td>@flr.beginTime</td>
                    <td>@flr.peakTime</td>
                    @if (flr.endTime != null)
                    {
                        <td>@flr.endTime</td>
                    }
                    else
                    {
                        <td>Unknown</td>
                    }
                    <td>@flr.classType</td>
                    <td>@flr.sourceLocation</td>
                    @if (flr.activeRegionNum != null)
                    {
                        <td>@flr.activeRegionNum</td>
                    }
                    else
                    {
                        <td>Unknown</td>
                    }
                </tr>
                ViewBag.NumFLR++;
            }
        </table>
    }
}

